// Colors
// Primary
$softRed: hsl(7, 99%, 70%);
$myYellow: hsl(51, 100%, 49%);
$desatCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$modCyan: hsl(168, 34%, 41%);
$bg-footer: hsl(167, 44%, 70%);

// Neutral
$desatBlue: hsl(212, 27%, 19%);
$grayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue2: hsl(210, 4%, 67%);
$myWhite: hsl(0, 0%, 100%);
$bgColor: rgb(248, 243, 237);

// Fonts and font sizes
$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", sans-serif;
$font-sm: 0.9375rem; // 15px, small
$font-md: 1.5rem; // 24px, medium
$font-lg: 1.875rem; // 30px, large
