@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

// inherit to all elements
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  // resets
  margin: 0;
  padding: 0;
  min-width: 23.4375rem; // 375px
  font-size: $font-md;
  line-height: 1.3;
  font-family: $barlow;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.box {
  flex: 1 0 auto;
  width: 375px;
}

.box-436 {
  min-height: 436px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $bgColor;
}

.image {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
