.body {
  @include h-body(2rem);
  @include p-body(0.95rem);

  .box-313 {
    min-height: 313px;
  }

  .box-600 {
    height: 600px;
  }

  // Transform
  .transform {
    display: flex;
    flex-flow: row-reverse wrap;

    .img {
      @include bg-url(mobile, transform);
    }

    .text {
      padding: 4rem;
      @include a-body($myYellow);
    }
  }

  // Stand out
  .stand-out {
    display: flex;
    flex-flow: row wrap;

    .img {
      @include bg-url(mobile, stand-out);
    }

    .text {
      padding: 4rem;
      @include a-body($softRed);
    }
  }

  // Services
  .services {
    display: flex;
    flex-flow: row wrap;
    p {
      font-size: 0.9rem;
    }
    // Graphic design
    .graphic-design {
      @include bg-url(mobile, graphic-design);
      h2,
      p {
        color: $desatCyan;
      }
    }

    // Photography
    .photography {
      @include bg-url(mobile, photography);

      h2,
      p {
        color: $darkBlue;
      }
    }

    .img-text {
      padding: 25rem 1rem 0rem 1rem;
    }
  }
}
