.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 24rem;

  .gallery-1 {
    display: flex;
    flex-direction: row;

    > * {
      height: 12rem;
      width: 50%;
    }

    .milk-bottles {
      @include bg-url(mobile, milkbottles);
    }

    .gallery-orange {
      @include bg-url(mobile, gallery-orange);
    }
  }

  .gallery-2 {
    display: flex;
    flex-direction: row;

    > * {
      height: 12rem;
      width: 50%;
    }

    .cone {
      @include bg-url(mobile, cone);
    }

    .sugar-cubes {
      @include bg-url(mobile, sugar-cubes);
    }
  }
}
