@media (min-width: 50rem) {
  // 720 px
  // Header section
  .header {
    nav {
      flex-direction: row;
      align-items: center;
    }
    &__logo {
      img {
        width: 9rem;
      }
    }

    &__toggle {
      display: none;
    }

    @include bg-img(50rem);
    @include bg-url(desktop, header);

    &__links {
      margin: 0;
      padding: 0;
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: row;
      background: none;
      align-items: center;
      justify-content: space-between;
      font-size: $font-sm;
      color: $myWhite;
      p {
        margin: 0;
        padding: 0;
        a {
          color: $myWhite;
        }
      }

      &::before {
        display: none;
      }
    }

    &__cta {
      background-color: $myWhite;
    }

    &__title {
      margin-top: 3.5rem;
      h1 {
        font-size: 3.5rem;
      }
      img {
        margin-top: 4.5rem;
      }
    }
  }

  // Body section

  .body {
    @include h-body(2.5rem);
    @include p-body(1.1rem);

    .box-313 {
      height: 600px;
    }

    .transform {
      .img {
        @include bg-url(desktop, transform);
      }

      .text {
        padding: 8rem 4rem 6rem 6rem;
      }
    }

    .stand-out {
      .img {
        @include bg-url(desktop, stand-out);
      }

      .text {
        padding: 6rem 4rem 6rem 4rem;
      }
    }
  }

  // Testimonials section
  .testimonials {
    padding: 5rem 0;

    h6 {
      font-size: 1.5rem;
    }

    .clients {
      padding: 0 5rem;
      flex-direction: row;
      .client {
        padding: 0 2rem;
      }
    }
  }

  // Gallery section
  .gallery {
    height: 28rem;
    flex-direction: row;
    > * {
      width: 50%;
    }

    .gallery-1 {
      > * {
        height: 100%;
      }

      .milk-bottles {
        @include bg-url(desktop, milkbottles);
      }

      .gallery-orange {
        @include bg-url(desktop, gallery-orange);
      }
    }

    .gallery-2 {
      > * {
        height: 100%;
      }

      .cone {
        @include bg-url(desktop, cone);
      }

      .sugar-cubes {
        @include bg-url(desktop, sugar-cubes);
      }
    }
  }

  // Footer
  .footer {
    &__logo {
      padding-top: 6rem;
      img {
        width: 11rem;
      }
    }

    &__links {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    min-height: 24rem;
    &__links {
      font-size: 1.2rem;
      padding: 0 10rem;
    }

    &__icons {
      padding: 2.5rem 6rem 0 6rem;
    }

    .attribution {
      padding: 1rem;
    }
  }
}
